@media (min-width: 992px) {
    h1,section{
        text-align: center;
    }
    h2,h3,h4{
        margin-top: 0%;
        margin-left: 75%;
        border: 1px solid;
        border-color: black;
        font-size: large;
    }
    h2{
        background-color: red;
    }
    h3{
        background-color: palevioletred;
    }
    h4{
        background-color: wheat ;
    }
    .section1{
        float: left;
        background-color: gray;
        width: 30%;
        height: 280px;
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 3px solid;
        border-color: black;
    }
    .section2{
        float:left;
        background:gray;
        width:30%;
        height:280px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 3px solid;
        border-color: black;
    }
    .section3{
        float: right;
        width: 30%;
        background-color: gray;
        height: 280px;
        margin-right: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 3px solid;
        border-color: black;
    }  
}
@media (min-width: 768px) {
    h1,section{
        text-align: center;
    }
    h2,h3,h4{
        margin-top: 0%;
        margin-left: 75%;
        border: 1px solid;
        border-color: black;
        font-size: large;
    }
    h2{
        background-color: red;
    }
    h3{
        background-color: palevioletred;
    }
    h4{
        background-color: wheat ;
    }
    .section1{
        float: left;
        background-color: gray;
        width: 50%;
        height: 280px;
        border: 3px solid;
        border-color: black;
    }
    .section2{
        float:left;
        background:gray;
        width:50%;
        height:280px;
        border: 3px solid;
        border-color: black;
    }
    .section3{
        float: right;
        width: 100%;
        background-color: gray;
        height: 280px;
        margin-right: 25px;
        margin-top: 25px;
        margin-bottom: 20px;
        border: 3px solid;
        border-color: black;
    }
}
       
@media (max-width: 767px) {
    h1,section{
        text-align: center;
    }
    h2,h3,h4{
        margin-top: 0%;
        margin-left: 75%;
        border: 1px solid;
        border-color: black;
        font-size: large;
    }
    h2{
        background-color: red;
    }
    h3{
        background-color: palevioletred;
    }
    h4{
        background-color: wheat ;
    }
    .section1{
        float: left;
        background-color: gray;
        width:80%;
        height: 280px;
        border: 3px solid;
        border-color: black;
        position: relative;
        left: 10%;
    }
    .section2{
        float:left;
        background:gray;
        width:80%;
        height:280px;
        border: 3px solid;
        border-color: black;
        position: relative;
        left: 10%;
        top: 20px;
    }
    .section3{
        float: left;
        width: 80%;
        height: 280px;
        background-color: gray;
        border: 3px solid;
        border-color: black;
        position: relative;
        left: 10%;
        top: 40px;
    }
    

}